{{!-- views/restaurants.hbs --}}

<a href="./restaurants/new">Create</a> {{!-- 放上 create 按鈕 --}}

<ul>
  {{#each restaurants}}
  <li>
    {{this.name}}
    <a href="./restaurants/{{ this.id }}">detail</a> {{!-- 在 restaurants 清單頁旁，加入 detail 連結按鈕：路徑指定為「./restaurants/{{ this.id }}」，而在點擊後能依據 restaurants 的 ID 導向 restaurants 的路由 --}}
    <a href="./restaurants/{{ this.id }}/edit">edit</a> {{!-- 在 restaurants 清單頁旁，加入 edit 連結按鈕：路徑指定為「./restaurants/{{ this.id }}/edit」，而在點擊後能依據 restaurants 的 ID 導向 restaurants 的路由 --}}
  </li>
  {{/each}}
</ul>

<ul>
  {{#each restaurants}} {{!-- 用迴圈顯示每個 restaurants 的名稱 --}}
  <li>
    <pre>{{this.name}}</pre>
    <pre>{{this.name_en}}</pre>
    <pre>{{this.category}}</pre>
    <pre>{{this.image}}</pre>
    <pre>{{this.location}}</pre>
    <pre>{{this.phone}}</pre>
    <pre>{{this.google_map}}</pre>
    <pre>{{this.rating}}</pre>
    <pre>{{this.description}}</pre>
  <li>
  {{/each}}
</ul>